<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>-90</integer>
    <key>angleVariance</key>
    <integer>59</integer>
    <key>blendFuncDestination</key>
    <integer>771</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>1</integer>
    <key>finishColorBlue</key>
    <integer>0</integer>
    <key>finishColorGreen</key>
    <real>0.9921568627450981</real>
    <key>finishColorRed</key>
    <integer>1</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <real>0.4392156862745098</real>
    <key>finishColorVarianceGreen</key>
    <real>0.4392156862745098</real>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>16</integer>
    <key>finishParticleSizeVariance</key>
    <integer>0</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>-123</integer>
    <key>maxParticles</key>
    <integer>25</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>2.5</real>
    <key>particleLifespanVariance</key>
    <integer>0</integer>
    <key>radialAccelVariance</key>
    <integer>50</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>-305</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>0</integer>
    <key>rotationStartVariance</key>
    <integer>500</integer>
    <key>sourcePositionVariancex</key>
    <integer>85</integer>
    <key>sourcePositionVariancey</key>
    <integer>20</integer>
    <key>sourcePositionx</key>
    <real>362.95441595441594</real>
    <key>sourcePositiony</key>
    <real>684.1025641025641</real>
    <key>speed</key>
    <integer>-100</integer>
    <key>speedVariance</key>
    <integer>100</integer>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <real>0.2</real>
    <key>startColorGreen</key>
    <real>0.2</real>
    <key>startColorRed</key>
    <integer>1</integer>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <integer>0</integer>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <integer>29</integer>
    <key>startParticleSizeVariance</key>
    <integer>2</integer>
    <key>tangentialAccelVariance</key>
    <integer>50</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>spriteFrameUuid</key>
    <string>3c17fbc7-41f2-42f3-ab5b-fa4f427e62b2</string>
    <key>emissionRate</key>
    <integer>10</integer>
  </dict>
</plist>